

<table class="table table-hover">
  <thead class="thead-dark" style=    "background-color: lightcyan;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <% item=0 %>
    <% if @books.count>0 %>
      <% for bk in @books do %>
      <% item= item+1 %>
      <tr> <td scope="row"><%= item %></td><td><%= bk.name %></td><td><%= bk.author %></td><td><%= bk.price %></td><td> <%= link_to "Edit", "/newbook/"+bk.id.to_s ,:class=>"btn btn-sm",style:"background-color: antiquewhite;" %> </td><td> <%= link_to "delete", deletex_path(bk), method: :delete, remote: true,data: {confirm: "Are you sure?"},class:"btn btn-danger btn-sm" %> </td></tr>  
      <% end %>
   <% else%>
      <tr><td colspan="4">No Record available ...</td></tr>
   <% end %>
   
  </tbody>
  <tfoot>
      <tr><td colspan="5"></td><td><%= link_to "Add New Book", newbook_path ,class:"btn btn-primary btn-sm" %></td></tr>
  </tfoot>
 
  
</table>
