<%= render "userheader" %>
<div class="page-header">
    <h1>Books </h1>       
</div>

<div id="alert_msg"></div>
        
<%= form_with url:"/addbook",method: :post, local:false ,id:"bookform", model: @newbook do |formz| %>
<div class="row">
<%= formz.hidden_field :id %>
<div class="col-md-12">
<div class="col-md-6">
<%= formz.label :name,"Book Name" , class:"form-label" %>
</div> 
<div class="col-md-6">
<%= formz.text_field :name,class:"form-control"  %>
</div> 
</div> 
<div class="col-md-12">
<div class="col-md-6">
<%= formz.label :author,"Author" , class:"form-label" %>
</div> 
<div class="col-md-6">
<%= formz.text_field :author,class:"form-control"  %>
</div> 
</div> 

<div class="col-md-12">
<div class="col-md-6">
<%= formz.label :price,"Price" , class:"form-label" %>
</div> 
<div class="col-md-6">
<%= formz.number_field :price,  step: 0.1,class:"form-control"  %>
</div> 
</div> 

<div class="col-md-12">
<div class="col-md-6">

</div> 
<div class="col-md-6 text-end">
<input type="reset" value="Reset" class="btn btn-danger btn-sm", style="margin-top: 10px">
<%  if @newbook.id==nil%>
<%= formz.submit "Add Record" ,class:"btn btn-primary btn-sm",style:"margin-top: 10px"  %>
<% else %>
<%= formz.submit "Edit Record" ,class:"btn btn-primary btn-sm",style:"margin-top: 10px"  %>
<% end %>
</div> 
</div> 
</div> 
<%end%>

